@use '../../styles/partials/mixins';
@use '../../styles/partials/colors';
@use '../../styles/partials/fonts';



.services {
    &__header-box {
        margin-top: 5rem;
        @include mixins.tablet {
            margin-top: 10rem;
        }
        @include mixins.desktop {
            display: flex;
            justify-content: space-around;
            margin: 12rem auto 2rem auto;
            width: 75%;
        }
    }
    &__title {
        font-size: 2rem;
        color: colors.$primary-green;
        text-align: center;
        margin-bottom: 0;
        margin-top: 1.5rem;
        @include mixins.tablet {
            font-size: 2.5rem;
        }
        @include mixins.desktop {
            font-size: 3rem;
        }
        @include mixins.largeDesktop {
            font-size: 3.5rem;
        }
    }
    &__service {
        margin-bottom: 5rem;
        @include mixins.tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
        }
       
    }
    &__row {
        @include mixins.tablet {
            width: 45%;
            margin-top: 2rem ;
        }
    }
    &__promise {
        @include mixins.desktop {
             width: 50%;
        }
    }
    &__study {
        text-align: center;
        font-size: 1.2rem;
        margin: 1rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.5rem;
        @include mixins.tablet {
            font-size: 1.3rem;
            margin: 2rem auto;
        }
        @include mixins.desktop {
            font-size: 1.5rem;
            margin: 4rem auto;
        }
        @include mixins.largeDesktop {
            font-size: 1.8rem;
            margin: 5rem auto;
        }
    }
    &__header {
        display: flex;
        flex-direction: column;
    }
    &__header-image {
        width: 17rem;
        height: 20rem;
        border-radius: 3rem;
        @include mixins.tablet {
            width: 25rem;
            height: 30rem;
            border-radius: 4rem;
        }
    }
    &__image{
        width: 18rem;
        height: 20rem;
        border-radius: 3rem;
        @include mixins.tablet {
            width: 100%;
            border-radius: 4rem;
        }
        @include mixins.desktop {
           height: 30rem;
           
        }
       
    }
    &__image-consult {
        width: 16rem;
        height: 16rem;
        border-radius: 3rem;
        @include mixins.tablet {
            width: 100%;
            border-radius: 4rem;
        }
        @include mixins.desktop {
           height: 28rem;
           
        }
        
    }
    &__image-box {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        @include mixins.desktop {
            width: 70%;
          
        }
       
    }
    &__type,
    &__description,
    &__tag {
        text-align: center;
        letter-spacing: 0.05rem;
        line-height: 1.4rem;
    }
    &__type {
        font-size: 1.8rem;
    }
    &__description,
    &__tag {
        width: 80%;
        margin: 1rem auto;
        @include mixins.desktop {
            font-size: 1.2rem;
            line-height: 1.6rem;
            letter-spacing: 0.07rem;
        }
    }
    &__tag{
        color: colors.$primary-green ;
    }
    &__button-box {
        display: flex;
        justify-content: center;
        margin: 2rem auto;
    }
    &__button{
        background-color: colors.$primary-green;
        color: colors.$primary-white;
        border-radius: 0.8rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 600;
        font-family: inherit;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        @include mixins.desktop {
            font-size: 1.2rem;
            padding: 0.8rem 1.5rem;
        }
    }
    &__title-header {
        margin: 2rem 1rem 1rem 1rem;
        text-align: center;
        font-size: 1.8rem;
        @include mixins.tablet {
            font-size: 2.5rem;
        }
        @include mixins.desktop {
            font-size: 3rem;
        }
        @include mixins.largeDesktop {
            font-size: 3.5rem;
            margin: 4rem auto;
        }
    }
    &__title-header--gold {
        color: colors.$primary-gold;
    }
}