@font-face {
    font-family: 'Questrial';
    src: url('../../assets/font/Questrial-Regular.woff2'),
        url('../../assets/font/Questrial-Regular.woff');
        font-weight: 400;
        font-style: normal;
}