@use '../../styles/partials/colors';
@use '../../styles/partials/fonts';
@use '../../styles/partials/mixins';

.home {
    margin-top: 2rem;
     &__hero {
        @include mixins.tablet {
             display: flex;
             justify-content: center;
             align-items: center;
        }
     }
    &__hero-image {
        width: 15rem;
        height: 15rem;
        border-radius: 1rem;
        @include mixins.tablet {
            width: 20rem;
            height: 20rem;
        }
    }
    &__hero-title{
        font-size: 2rem;
        font-weight: 600;
        color: colors.$primary-green;
        text-align: center;
    }
    &__hero-text {
        font-size: 1.5rem;
        @include mixins.tablet {
            margin: 1rem 0;
        }
    }
    &__button-box {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
    &__button {
        background-color: colors.$primary-green;
        color: colors.$primary-white;
        border-radius: 0.8rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 600;
        font-family: inherit;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
  
    &__text-box {
        margin: 1rem;
        line-height: 1.5;
        @include mixins.tablet {
            margin: 1rem 2rem 1rem 1rem;
        }
    }
}