@use '../../styles/partials/mixins';
@use '../../styles/partials/colors';

.header {
    display: flex;
     justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: colors.$primary-white;
    width: 100%;
    z-index: 10;
    // @include mixins.tablet {
    //     justify-content:flex-start;
    // }
   
    @include mixins.maxLargeDesktop {
        justify-content: flex-start;
    }
    &__logo {
        width: 12rem;
        margin: 1rem;
        @include mixins.tablet {
            width: 11rem;
            margin: 1.1rem;
        }
        @include mixins.desktop {
            width: 18rem;
            margin: 1rem 3rem;
        }
    }
}