@use "../../styles/partials/mixins";

.footer {

    margin: 5rem 0 0 0;
    background-color: #dbdbdb ;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 0 1rem 0;
        @include mixins.desktop {
            flex-direction: row;
            margin-top: 15rem;
        }
    }
    &__social-title  {
        @include mixins.desktop {
            text-align: center;
        }
       
    }
    &__title,
    &__podcast-text {
        letter-spacing: 0.08rem;
        line-height: 1.5;
    }
    &__title {
        @include mixins.largeDesktop {
            font-size: 1.5rem;
        }
    }
    &__podcast-text {
        @include mixins.largeDesktop {
            font-size: 1.2rem;
        }
    }

    &__box {
        width: 100%;
        margin: 1rem auto;
        text-align: center;
        @include mixins.desktop {
            text-align: left;
            margin: 1rem 0 0 0.8rem;
        }
    
    }

    &__center {
        @include mixins.desktop {
            text-align: center;
        }
    }

    &__list {
        list-style-type: none;
        padding: 0;
    }

    &__list-item{
        padding: 4px 0;
        letter-spacing: 0.05rem;
        line-height: 1.6;
        color: #313131;
    }

    &__list-image {
        width: 0.75rem;
        margin: 0 0.5rem 0 0;
        @include mixins.tablet {
            width: 1rem;
        }
    }

    &__anchor-item {
        text-decoration: none;
        @include mixins.largeDesktop {
            font-size: 1.2rem;
        }
    }

    &__image-box {
        display: flex;
        justify-content: center;
    }

    &__podcast-image {
        width: 8rem;
        margin: auto 0.5rem;
        @include mixins.tablet {
            width: 10rem;
        }
        @include mixins.largeDesktop {
            width: 12rem;
        }
    }

    &__social-box {
        margin: 0;
        @include mixins.desktop {
            text-align: center;
        }
    }

    &__social-icon {
        width: 1.25rem;
        margin: 0 0.55rem;
        @include mixins.tablet {
            width: 1.5rem;
        }
        @include mixins.largeDesktop {
            width: 1.8rem;
        }
    }

    //Tablet Styling

    &__page-service-container {
        @include mixins.tablet {
            display: flex;
            justify-content: center;
        }
    }

    &__page-service-size {
        @include mixins.tablet {
            width: 15rem;
        }
        @include mixins.desktop {
            width: 10rem;
        }
    }
}


